networks:
  laravel-network:

services:
  # Nginx
  nginx:
    image: nginx:stable
    ports:
      - "8080:80"
    container_name: nginx-server
    volumes:
      - .:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - laravel
    networks:
      - laravel-network

  # Laravel
  laravel:
    build:
      context: .
      dockerfile: ./dockerfiles/php.dockerfile
    container_name: laravel-pinterest
    volumes:
      - .:/var/www/html
      - laravel_vendor:/var/www/html/vendor
    working_dir: /var/www/html
    networks:
      - laravel-network
    depends_on:
      - postgres
      - mongodb

  # PostgreSQL
  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5433:5432"
    networks:
      - laravel-network
    env_file:
      - ./postgres/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # MongoDB
  mongodb:
    image: mongo:6
    container_name: mongo-db
    restart: unless-stopped
    ports:
      - "27017:27017"
    networks:
      - laravel-network
    env_file:
      - ./mongo/.env
    volumes:
      - mongo_data:/data/db

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    depends_on:
      - postgres
    ports:
      - 8090:80
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@gmail.com
      PGADMIN_DEFAULT_PASSWORD: admin
    networks:
      - laravel-network

volumes:
  postgres_data:
  mongo_data:
  laravel_vendor:

