version: '3.8'

services:
  # 1. Laravel
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    restart: unless-stopped
    working_dir: /var/www/
    ports:
      - '5173:5173'
    volumes:
      - ./:/var/www
    depends_on:
      - db

  # 2. Servidor Web Nginx /version del nginx/ nombre del contendor
  nginx:
    image: nginx:1.28.0-alpine
    container_name: laravel_nginx
    restart: unless-stopped
    ports:
      - "8000:80"  # http://localhost:8000
    volumes:
      - ./:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  # 3. Base de Datos PostgreSQL
  db:
    image: postgres:14-alpine
    container_name: laravel_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
    driver: local