@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

html, body {
  scroll-behavior: smooth;
}
#scrollContainer {
    position: relative;
    overflow: hidden;
}

section {
    position: absolute;
    inset: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: all .6s ease;
}

section.active {
    opacity: 1;
    transform: translateX(0);
}

section.left {
    transform: translateX(-100%);
}
