@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

.menu-navegacion{
    display: flex;
}

.icono-pequeño{
    width: 24px;
    height: 24px;
}